:root {
    --clr-background: #ffffff;
    /*--clr-background: #1b1b1b;*/
    --clr-secondary: #292929;
    --clr-accent: #3ea34c; /* default: #ffa31a */
    --clr-input: #808080;

    --body-color: #1b1b1b;
    --sidebar-color: #292929;
    --primary-color: #3ea34c;
    --text-color: #000; 
    --text-color-light: #fff;



    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
    
}