@import url(./ColorPalette.css);
@import url(./Fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

/*For the scroll bar*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--body-color);
  transition: var(--tran-05);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body {
  background-color: var(--clr-background);
  background-image: url(../Image/YellowBG.svg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
}

.registration-form {
  padding: 30px 0;
}

.registration-form form {
  background-color: rgba(var(--clr-secondary), 0.8);
  max-width: 550px;
  min-width: 550px;
  margin: auto;
  padding: 50px 70px 10px 70px;
  /* border-top-left-radius: 30px;
  border-top-right-radius: 30px; */
  border-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  /* border: 1px solid var(--clr-accent);
  border-bottom: none; */
}

.registration-form .form-icon {
  text-align: center;
  background-color: var(--clr-accent);
  border-radius: 50%;
  font-size: 40px;
  color: #000;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 50px;
  line-height: 100px;
}



.registration-form .item {
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 8px 20px;
  background-color: #b8b8b8bb;
  color: #000;
  font-weight: 500;
}

.registration-form .item::placeholder {
  color: #000;
  /* center the placeholder text */
  text-align: center;
  font-weight: 400;
}

.registration-form .create-account {
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--clr-accent);
  border: none;
  color: white;
  margin-top: 10px;
  width: 100%;
}

.registration-form .reg-link {
  color: #000;
  text-align: right;
}

.registration-form .reg-link a {
  color: var(--clr-accent);
  text-decoration: none;
}

.registration-form .reg-link a:hover {
  color: var(--clr-input);
  text-decoration: none;
}

.registration-form .social-media {
  max-width: 550px;
  background-color: rgba(var(--clr-secondary), 0.8);
  margin: auto;
  padding: 20px 0;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #9fadca;
  border-top: 1px solid var(--clr-accent);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  backdrop-filter: blur(5px);
  border: 1px solid var(--clr-accent);
}

.registration-form .error {
  padding: 20px 70px 10px 70px;
}

.registration-form .error p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
  color: #dc3545;
}


@media (max-width: 576px) {
  .registration-form form {
      padding: 40px 0;
  }
}

/* if screen size is equal to 1440px make the it center */
@media (max-width: 1440px) {
  .registration-form form {
      margin: auto;
      margin-top: 50px;
  }
}

/* if it is greater than 1440px make it center */
@media (min-width: 1440px) {
  .registration-form form {
      margin: auto;
      margin-top: 50px;
  }
}