.home .content{
    margin: 10px; 
    background-color: #fff;
    width: 98%;
    min-width: 500px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
}

.home .content .profile{
    margin: 10px;
}
.home .content .profile img{
    width: 256px;
    height: 256px;
}

.home .content .inner-content{
    margin: 10px; 
    width: 80%;
    min-width: 500px;
}
