@import url(./Fonts.css);
@import url(./ColorPalette.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  scroll-behavior: smooth;
}

/*hello from the other side*/
/*For the scroll bar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #292929;
}

::-webkit-scrollbar-thumb {
  background: #1b1b1b;
}

.dashboard {
  position: absolute;
  top: 60;
  left: 250px;
  background-color: var(--clr-background);
  width: calc(100% - 250px);
  height: 100%;
  overflow: auto;
}

.dashboard .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}