<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/Bootstrap_Style/bootstrap.css">
    <title>Placement Form</title>

    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .image {
            position: absolute;
            top: 0;
            left: 90px;
        }

        p {
            font-size: 14px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 14px;
            columns: 3;
        }
    </style>
</head>

<body>
    <header>
        <div>
            <!-- a4 width: 210mm -->
            <img src="../Image/Header.png" alt="Header" class="img-fluid">
        </div>
    </header>
    <main>
        <h3 style="text-align: center;">ON-THE-JOB TRAINING (OJT) ACCEPTANCE LETTER</h3>
        <h5>Dear [Name],</h5>
        <p style="text-align: justify;"> I am pleased to inform you that you have been accepted into our On-the-Job
            Training (OJT) program. We look
            forward to your participation and believe it will be a valuable experience for both parties.
            During the program, you will gain hands-on experience in [specific field or department]. Our team of
            professionals will provide guidance and mentorship to support your learning and development.
            Your OJT is scheduled to start on [Start Date]. Please report to [Location] at [Time]. Prior to your start
            date, we will provide you with necessary documents and information.
            If you have any questions, feel free to reach out to [Contact Person/Department] at [Contact Information].
            Congratulations on your acceptance into the OJT program. We are excited to have you join our team and help
            you achieve your professional goals.</p>
        <p>Best regards,</p>
        <h5>[Your Name]</h5>
    </main>
    <br>
    <footer class="footer mt-auto py-3 bg-light sticky-bottom">
        <div class="container-fluid">
            <table>
                <tr>
                    <td>
                        <div>
                            <h6 style="text-align: center;" class="fw-bold">Noted By:</h6>
                            <h6 class="fw-bold" style="text-align: center;">
                                ______________________________________________</h6>
                            <h4 class="fw-bold mb-0" style="text-align: center;">Mr. Lorenzo Asis</h4>
                            <p class="fw-bold" style="text-align: center;">Company Supervisor</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <h6 style="text-align: center;" class="fw-bold">Approved By:</h6>
                            <h6 class="fw-bold" style="text-align: center;">
                                ______________________________________________</h6>
                            <h4 class="fw-bold mb-0" style="text-align: center;">Mr. Lorenzo Asis</h4>
                            <p class="fw-bold" style="text-align: center;">Company Supervisor</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </footer>
</body>

</html>