<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/Bootstrap_Style/bootstrap.css">
    <title>Placement Form</title>

    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .image {
            position: absolute;
            top: 0;
            left: 90px;
        }

        p {
            font-size: 14px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 14px;
            columns: 3;
        }
        .tbl{
            text-align: center;
        }
        .tdone{
            text-align: right;
            padding-right: 10px;
        }
        .tdtwo{
            text-align: left;
            padding-left: 10px;
        }


    </style>
</head>

<body>
    <header>
        <div>
            <img src="../Image/Header.png" alt="Header" class="img-fluid">
        </div>
    </header>
    <main>
        <h3 style="text-align: center;">PLACEMENT FORM</h3>
        <table class="tbl">
            <tr>
                <td class="tdone"><h5>Name</h5></td>
                
                <td class="tdtwo">John Doe</td>
            </tr>
            <tr>
                <td class="tdone"><h5>Age</h5></td>
                
                <td class="tdtwo">20</td>
            </tr>
            <tr>
                <td class="tdone"><h5>Address</h5></td>
                
                <td class="tdtwo">1234 Street, Barangay, City, Province</td>
            </tr>
            <tr>
                <td class="tdone"><h5>Contact Number</h5></td>
                
                <td class="tdtwo">09123456789</td>
            </tr>
            <tr>
                <td class="tdone"><h5>Email Address</h5></td>
                
                <td class="tdtwo">text@gmail.com</td>
            </tr>
            <tr>
                <td class="tdone"><h5>Course</h5></td>
                
                <td class="tdtwo">BSIT</td>
            </tr>
            <tr>
                <td class="tdone"><h5>Year Level</h5></td>
                
                <td class="tdtwo">3rd Year</td>
            </tr>
            <tr>
                <td class="tdone"><h5>School</h5></td>
                
                <td class="tdtwo">University of the Philippines</td>
            </tr>
            <tr>
                <td class="tdone"><h5>Company Name</h5></td>
                
                <td class="tdtwo">Company Name</td>
            </tr>
            <tr>
                <td class="tdone"><h5>Company Address</h5></td>
                
                <td class="tdtwo">1234 Street, Barangay, City, Province</td>
            </tr>
            <tr>
                <td class="tdone"><h5>Company Contact Number</h5></td>
                
                <td class="tdtwo">09123456789</td>
            </tr>  
            <tr>
                <td class="tdone"><h5>Company Email Address</h5></td>
                
                <td class="tdtwo">adds@aasd.cp,m</td>
            </tr>
            <tr>
                <td class="tdone"><h5>Company Supervisor</h5></td>
                
                <td class="tdtwo">John Doe</td>
            </tr>
            <tr>
                <td class="tdone"><h5>Company Supervisor Position</h5></td>
                
                <td class="tdtwo">Manager</td>
            </tr>
            <tr>
                <td class="tdone"><h5>Company Supervisor Contact Number</h5></td>
                
                <td class="tdtwo">09123456789</td>
            </tr>
            <tr>
                <td class="tdone"><h5>Company Supervisor Email Address</h5></td>
                
                <td class="tdtwo">weweqeqw</td>
            </tr>
        </table>
    </main>
    <br>
    <footer class="footer mt-auto py-3 bg-light sticky-bottom">
        <div class="container-fluid">
            <table>
                <tr>
                    <td>
                        <div>
                            <h6 style="text-align: center;" class="fw-bold">Noted By:</h6>
                            <h6 class="fw-bold" style="text-align: center;">
                                ______________________________________________</h6>
                            <h4 class="fw-bold mb-0" style="text-align: center;">Mr. Lorenzo Asis</h4>
                            <p class="fw-bold" style="text-align: center;">Company Supervisor</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <h6 style="text-align: center;" class="fw-bold">Approved By:</h6>
                            <h6 class="fw-bold" style="text-align: center;">
                                ______________________________________________</h6>
                            <h4 class="fw-bold mb-0" style="text-align: center;">Mr. Lorenzo Asis</h4>
                            <p class="fw-bold" style="text-align: center;">Company Supervisor</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </footer>
</body>

</html>