<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/Bootstrap_Style/bootstrap.css">
    <title>Placement Form</title>

    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .image {
            position: absolute;
            top: 0;
            left: 90px;
        }

        p {
            font-size: 14px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 14px;
            columns: 3;
        }
        .tbl{
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
        <div>
            <!-- a4 width: 210mm -->
            <img src="../Image/Header.png" alt="Header" class="img-fluid">
        </div>
    </header>
    <main>
        <h3 style="text-align: center;">PLACEMENT FORM</h3>
        <table class="tbl">
            <tr>
                <td>Name</td>
                <td>:</td>
                <td>John Doe</td>
            </tr>
        </table>
    </main>
    <br>
    <footer class="footer mt-auto py-3 bg-light sticky-bottom">
        <div class="container-fluid">
            <table>
                <tr>
                    <td>
                        <div>
                            <h6 style="text-align: center;" class="fw-bold">Noted By:</h6>
                            <h6 class="fw-bold" style="text-align: center;">
                                ______________________________________________</h6>
                            <h4 class="fw-bold mb-0" style="text-align: center;">Mr. Lorenzo Asis</h4>
                            <p class="fw-bold" style="text-align: center;">Company Supervisor</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <h6 style="text-align: center;" class="fw-bold">Approved By:</h6>
                            <h6 class="fw-bold" style="text-align: center;">
                                ______________________________________________</h6>
                            <h4 class="fw-bold mb-0" style="text-align: center;">Mr. Lorenzo Asis</h4>
                            <p class="fw-bold" style="text-align: center;">Company Supervisor</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </footer>
</body>

</html>