@import url(./ColorPalette.css);

body {
    background-color: var(--clr-background);
}

/*For the scroll bar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--clr-background);
}

::-webkit-scrollbar-thumb {
    background: var(--clr-accent);
}

.registration-form {
    padding: 50px 0;
}

.registration-form form {
    background-color: var(--clr-secondary);
    max-width: 600px;
    margin: auto;
    padding: 25px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon {
    background-color: var(--clr-accent);
    border-radius: 50%;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 60px;
    line-height: 100px;
    fill: var(--clr-background);
}

.registration-form .item {
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
    background-color: var(--clr-input);
    color: #fff;
}

.registration-form .item::placeholder {
    color: #fff;
}

input:invalid:focus {
    border: 1px solid red;
    animation: shake 0.2s 2;
}

@keyframes shake {
    25% {
        translate: 6px 0;
    }

    50% {
        translate: -6px 0;
    }

    75% {
        translate: 6px 0;
    }
}

.registration-form .reg-link {
    color: #fff;
    text-align: right;
    margin-top: -15px;
    margin-right: 15px;
}
.registration-form .reg-link a{
    color: var(--clr-accent);
    text-decoration: none;
}

.registration-form .reg-link a:hover{
    color: var(--clr-input);
    text-decoration: none;
}

.registration-form .create-account {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--clr-accent);
    border: none;
    color: white;
    margin-bottom: 20px;
    width: 100%;
}

.registration-form .create-account:hover {
    background-color: #ffc107;
    color: #1b1b1b;
}


.registration-form .social-media {
    max-width: 600px;
    background-color: var(--clr-secondary);
    margin: auto;
    padding: 25px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #dc3545;
    border-top: 1px transparent #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}



.registration-form .social-media h5{
    margin-bottom: 20px;
}



@media (max-width: 576px) {
    .registration-form form {
        padding: 50px 20px;
    }

    .registration-form .form-icon {
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}